.table-list {
    border: 1px solid @tms-border-two-level;
    .el-table--mini {
        th {
            padding: 10px 0;

            font-weight: 400;

            color: @tms-font-main;
            background: @tms-light-gray;

            .font-size(14px);
        }
        td {
            .font-size(14px);
        }
    }
}
.page-list {
    margin: 20px 0;
}
